video {
  background: black;
  width: 640px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.scrubber-container {
  background: grey;
  width: 640px;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 362px;
  left: 0;

  .preview {
    position: absolute;
    z-index: 5;
    bottom: -160px;
    left: 665px;
  }

  .scrubber-activearea {
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .scrubber-outer {
    background: white;
    width: 100%;
    height: 3px;
  }

  .scrubber-inner {
    background: pink;
    width: 0%;
    height: 100%;
    position: relative;
  }

  .scrubber-handle {
    background: darken(grey, 20%);
    width: 6px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    top: -7px;
    right: -3px;
    // margin-left: -6px;
  }
}

.pepper-ui {
  position: absolute;
  top: 0;
  left: 665px;

  .buffer-depth, .timeline {
    padding: 20px 0;
  }

  .qualities {
    width: 120px;
    display: inline-block;

    div {
      color: white;
      background: grey;
      width: 100%;
      text-align: center;
      padding: 5px 0;
      position: relative;
      cursor: pointer;

      font: {
        family: sans-serif;
        size: 14px;
        weight: 100;
      }

      &:nth-child(n+2) {
        margin-top: 2px;
      }

      &:hover {
        background: lighten(grey, 10%);
      }
    }

    .selected {
      background: blue;
      cursor: default;

      &:hover {
        background: blue;
      }
    }

    .auto-selected {
      &:after {
        content: '√';
        color: green;
        position: absolute;
        right: -20px;

        font: {
          family: sans-serif;
          size: 14px;
        }
      }
    }
  }
}
